@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  --foreground-rgb: 0, 0, 0;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(255, 245, 295));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
